$primary-color: #f5f5f5;
$text-color: rgba(55, 55, 55, 4);
$hover-color: rgb(177, 177, 177);
$text-sizes: (
  "sm": 12px,
  "md": 16px,
  "lg": 20px,
  "xl": 30px,
  "xxl": 48px,
);
$padding-sizes: (
  "sm": 12px,
  "md": 16px,
  "lg": 22px,
  "xl": 30px,
  "2xl": 48px,
);
@mixin flexCenter($justify, $align, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
@function text-sizes($text-name) {
  @return map-get($text-sizes, $text-name);
}
@function padding-size($padding-name) {
  @return map-get($padding-sizes, $padding-name);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $primary-color;
  background-color: $primary-color;
  position: relative;
  .main {
    max-width: 1320px;
    margin: 0 auto;
    & .bg_img {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0%;
      z-index: -50;
    }
  }
}

/* NAVBAR STARTS HERE */

.nav {
  width: 100%;
  height: fit-content;
  padding: padding-size(md);
  color: $text-color;
  @include flexCenter(space-between, center, row);
  position: relative;
  & .nav_link {
    & .nav_anchor {
      color: $text-color;
      font-size: text-sizes(md);
      text-decoration: none;
    }
  }
  & .nav_icon {
    width: 40px;
    height: 20px;
    @include flexCenter(space-between, end, column);
    cursor: pointer;
    z-index: 50;
    position: fixed;
    right: 3%;
    &_line {
      width: 39px;
      height: 2px;
      border-radius: 6px;
      background-color: $text-color;
      transition: all 400ms ease-in-out;
    }
    &_line_click {
      width: 20px;
      height: 2px;
      transform: rotate(45deg) translate(3px, 15px);
      background-color: $text-color;
      transition: all 400ms ease-in-out;
    }
    & .line_2 {
      width: 30px;
    }
    & .line_2_click {
      width: 0px;
      height: 2px;
      background-color: $text-color;
      transition: all 300ms ease-in-out;
    }
    & .line_3 {
      width: 23px;
    }
    & .line_3_click {
      width: 20px;
      height: 2px;
      transform: rotate(-45deg) translate(-12px, -20px);
      background-color: $text-color;
      transition: all 400ms ease-in-out;
    }
  }
  & .drop_down {
    width: 10%;
    height: 100px;
    background: #00000029;
    position: absolute;
    left: 50%;
    top: -200px;
    border-radius: 100px;
    transition: all 400ms ease-in-out;
    &_container {
      width: 100%;
      height: 100%;
      @include flexCenter(center, center, column);
      gap: 40px;
      font-size: text-sizes(md);
      font-weight: bolder;
      & a {
        text-decoration: none;
        color: $text-color;
        &:hover {
          color: rgb(125, 125, 125);
        }
      }
    }
  }
  & .drop_down_click {
    width: 100%;
    height: 100vh;
    background-color: #acacace1;
    z-index: 40;
    position: fixed;
    left: 0%;
    top: 0px;
    transition: all 400ms ease-in-out;
  }
}
/* MAIN STARTS HERE */

.hero {
  width: 100%;
  height: fit-content;
  color: $text-color;
  position: relative;
  &_container {
    width: 100%;
    height: fit-content;
    @include flexCenter(center, start, column);
    gap: 40px;
    padding: padding-size(md);
    margin: 130px 0;
    & .hero_info {
      max-width: 560px;
      padding: padding-size(md);
      background-color: rgba(118, 118, 118, 0.09);
      border-radius: 15px;
      transition: all 400ms ease-in-out;
      &:hover {
        transform: scale(105%);
        transition: all 400ms ease-in-out;
      }
      &_title {
        font-size: text-sizes(xl);
      }
      &_bio {
        margin-top: 12px;
        font-size: text-sizes(lg);
      }
      & .hero_social {
        width: fit-content;
        height: fit-content;
        margin-top: 20px;
        font-size: text-sizes(xl);
        &_git {
          margin-right: 20px;
        }
        & a {
          color: $text-color;
          text-decoration: none;
        }
        & a:hover {
          color: $hover-color;
          transition: all 300ms ease-in-out;
        }
      }
    }
    & .hero_pic {
      width: 180px;
      height: 180px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      background-image: url("./assets/53a3f8e4c6f318c6da6f925a223428ba.jpg");
      background-position: center;
      background-size: cover;
      &_img {
        width: 100%;
        height: 100%;
      }
    }
  }
  & &_down_arrow {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    font-size: text-sizes(xl);
  }
}

/* PROJECTS STARTS HERE */

.projects {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  color: $text-color;
  & &_title {
    text-align: center;
  }
  .project_header{
    color: $text-color;
    position: absolute;
    top: -15%;
  }
  .project_link{
    width: 100%;
    height: 100%;
    color: transparent;
    position: fixed;
    z-index: -100;
  }
  .projects_container {
    width: 100%;
    height: fit-content;
    padding: padding-size(md) padding-size(lg);
    margin: 40px auto;
    @include flexCenter(space-between, center, column);
    gap: 30px;
    & .warper {
      width: 100%;
      @include flexCenter(space-between, center, column);
      gap: 30px;
      & .first_project {
        background-image: url("./assets/project_1.png");
        background-size: 100% 100%;
        background-position: top;
        opacity: 0.7;
      }
      & .second_project {
        background-image: url("./assets/project_2.png");
        background-size: 100% 100%;
        opacity: 0.9;
      }
      & .third_project {
        background-image: url("./assets/project_3.png");
        background-size: 100% 100%;
        opacity: 0.9;
      }
      & .fourth_project {
        background-image: url("./assets/project_4.png");
        background-size: 100% 100%;
        opacity: 0.8;
      }
      & .project_card {
        margin-top: 30px;
        width: 100%;
        height: 260px;
        border-radius: 10px;
        position: relative;
        background-color: rgba(75, 75, 75, 0.268);
        transition: all 400ms ease-in-out;
        &:hover {
          transform: scale(105%);
          transition: all 400ms ease-in-out;
        }
      }
    }
  }
}

/* ABOUT SECTION STARTS HERE */

.about {
  color: $text-color;
  width: 100%;
  margin-top: 70px;
  & &_container {
    width: 100%;
    height: fit-content;
    padding: padding-size(md) padding-size(lg);
    @include flexCenter(space-between, center, column);
    gap: 50px;
    & .about_info {
      @include flexCenter(space-between, start, column);
      gap: 20px;
      max-width: 600px;
    }
    & .about_skills {
      width: 100%;
      height: fit-content;
      color: $text-color;
      @include flexCenter(space-between, start, column);
      gap: 40px;
      & .skills_container {
        width: 100%;
        height: fit-content;
        @include flexCenter(space-between, start, row);
        flex-wrap: wrap;
        gap: 30px;
        & .my_skill {
          width: 50px;
          height: fit-content;
          font-size: text-sizes(xl);
          @include flexCenter(space-between, center, column);
          & span {
            font-size: text-sizes(sm);
          }
        }
      }
    }
  }
}

/* FOOTER SECTION STARTS HERE */

.footer {
  width: 100%;
  height: fit-content;
  color: $text-color;
  .footer_container {
    width: 100%;
    height: fit-content;
    padding: padding-size(lg);
    margin-top: 100px;
    @include flexCenter(space-between, start, column);
    gap: 40px;
    & .footer_info {
      width: 100%;
      height: fit-content;
      @include flexCenter(space-between, start, column);
      gap: 20px;
      &_social {
        width: fit-content;
        height: fit-content;
        font-size: 25px;
        & a {
          color: $text-color;
          text-decoration: none;
          margin-right: 20px;
        }
        & a:hover {
          color: $hover-color;
          transition: all 300ms ease-in-out;
        }
      }
    }
    & .footer_form_container {
      width: 100%;
      height: fit-content;
      & .footer_form {
        width: 100%;
        @include flexCenter(space-between, start, column);
        gap: 15px;
        & input {
          width: 100%;
          padding: padding-size(md) padding-size(sm);
          border-radius: 10px;
          outline: none;
          border: 2px solid;
          border-color: rgba(127, 127, 127, 0.6);
          transition: all 400ms ease-in-out;
          &:hover {
            transform: scale(105%);
            transition: all 400ms ease-in-out;
          }
        }
        & .button_submit {
          width: 40%;
          padding: padding-size(sm);
          cursor: pointer;
          position: relative;
          border-radius: 10px;
          border-top: none;
          border-right: none;
          border-left: none;
          position: relative;
          overflow: hidden;
          border-color: rgba(0, 0, 0, 0.4);
          .button_hover {
            width: 100%;
            height: 0%;
            position: absolute;
            bottom: 0%;
            left: 0;
            transition: all 200ms ease-in-out;
            background-color: rgba(0, 0, 0, 0.1);
          }
          &:hover .button_hover {
            width: 100%;
            height: 100%;
            transition: all 200ms ease-in-out;
          }
        }
      }
    }
  }
  & &_end {
    width: 100%;
    height: 70px;
    margin-top: 50px;
    box-shadow: 5px 0 5px rgb(0, 0, 0);

    &_info {
      width: 60%;
      height: 100%;
      margin: auto;
      @include flexCenter(center, center, column);
      color: white;
      font-size: text-sizes(sm);
      text-align: center;
    }
  }
}

/* RESPONSIVE STARTS HERE */

@media (min-width: 768px) {
  .nav {
    padding: padding-size(lg) padding-size(xl);
    & &_bg_svg {
      width: 100%;
      height: 900px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      z-index: -10;
      background-image: url("./assets/layered-steps-haikei.svg");
      background-position: center;
      background-size: cover;
    }
  }
  .hero {
    width: 80%;
    margin: auto;
  }
  .about {
    width: 80%;
    margin: 0 auto;
  }
  .projects {
    & .projects_container {
      width: 80%;
      height: fit-content;
      padding: padding-size(lg) padding-size(xl);
      & .warper {
        .project_card {
          width: 100%;
          height: 300px;
        }
      }
      & .first_project {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      & .second_project {
        height: 100%;
        width: 100%;
        background-repeat: round;
      }
    }
  }
  .footer {
    width: 100%;
    & &_container {
      @include flexCenter(space-between, start, row);
      gap: 50px;
    }
    & &_end {
      margin-top: 150px;
      & p {
        font-size: text-sizes(md);
      }
    }
  }
}

@media (min-width: 980px) {
  .hero {
    &_container {
      @include flexCenter(space-between, center, row);
    }
  }
  .projects {
    & .projects_container {
      width: 80%;
      height: fit-content;
      padding: padding-size(lg) padding-size(xl);
      @include flexCenter(space-between, center, row);
    }
  }
  .about {
    .about_container {
      @include flexCenter(space-around, center, row);
      gap: 100px;
      margin: 120px 0;
      & .about_info {
        & .about_header {
          font-size: text-sizes(xl);
        }
      }
    }
  }
  .footer {
    width: 100%;
    & &_container {
      width: 80%;
      @include flexCenter(space-between, start, row);
      margin: auto;
    }
  }
}
